<!DOCTYPE html>
<html>
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/pirate-logo-67x93.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title></title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=s1Sz2E"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=s1Sz2E" type="text/css">

  
  
  
</head>
<body>
  
    <script src="assets/witsec-jquery-3.5.1/jquery-3.5.1.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/masonry/masonry.pkgd.min.js"></script>  <script src="assets/imagesloaded/imagesloaded.pkgd.min.js"></script>  <script src="assets/theme/js/script.js"></script>  <script src="assets/formoid/formoid.min.js"></script>  
 
</body>
</html><section data-bs-version="5.1" class="menu menu6 cid-uoopozAD9r" once="menu" id="menu06-r">
	

	<nav class="navbar navbar-dropdown opacityScroll navbar-fixed-top navbar-expand-lg">
		<div class="container">
			<div class="navbar-brand">
				<span class="navbar-logo">
					
					<img src="" alt="" style="height: 4.2rem;">
					
				</span>
				<span class="navbar-caption-wrap"><a class="navbar-caption text-success display-4" href="/"></a></span>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse opacityScroll" id="navbarSupportedContent">
				<ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
					
				</ul>
				
				
			</div>
		</div>
	</nav>
</section><!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo5.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Page 1</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/countdown.css?v=dfT8Ci"><link rel="stylesheet" href="assets/mobirise/css/countdown.css?v=dfT8Ci" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="countdown2 cid-uozqyHAunS mbr-fullscreen" id="countdown2-1a">
  

  
  
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h4 class="mbr-section-title mb-5 align-center mbr-fonts-style display-2">
		<strong>Deanna Jade</strong>
        </h4>
        <h4 class="mbr-section-subtitle mb-5 align-center mbr-fonts-style display-7">
		
        </h4>
        <div class="countdown-cont align-center mb-5 display-2">
          <div title="Days" class="daysCountdown col-xs-3 col-sm-3 col-md-3 display-4"></div>
          <div title="Hours" class="hoursCountdown col-xs-3 col-sm-3 col-md-3 display-4">
          </div>
          <div title="Minutes" class="minutesCountdown col-xs-3 col-sm-3 col-md-3 display-4">
          </div>
          <div title="Seconds" class="secondsCountdown col-xs-3 col-sm-3 col-md-3 display-4">
          </div>
	  <div class="countdown" data-due-date="2024/09/27"></div>
        </div>
        <p class="mbr-text mb-5 align-center mbr-fonts-style display-7">
          Subscribe to find out when we launch.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
        <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="SsfR1FlAXEb12oObA/UU1WKjl8iUNHh2lW+8TaPjoEWZKR+JCtUXoi2rLS2428dFIibi5vs3GsGAzZnA6ECClvhCQiBXD4z/zB7XGNAlzAtbxhL9BGkKmVigYXE9vjW+">
          <div class="row">
            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
              Oops...! some problem!
            </div>
          </div>
          <div class="dragArea row">
            <div data-for="email" class="col-lg-6 col-md-6 col-sm-12 form-group">
              <input type="email" name="email" placeholder="test@email.com" data-form-field="email" class="form-control display-7" value="" id="email-countdown2-1a">
            </div>
            <div class="col-auto mbr-section-btn">
              <button type="submit" class="w-100 w-100 w-100 w-100 w-100 w-100 btn btn-secondary display-7">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section><section><a href="https://mobiri.se"></a><a href="https://mobiri.se"></a></section><script src="assets/witsec-jquery-3.5.1/jquery-3.5.1.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/countdown/countdown.js"></script>  <script src="assets/theme/js/script.js"></script>  <script src="assets/formoid/formoid.min.js"></script>  
  
  
</body>
</html><style>
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
</style>

<section data-bs-version="5.1" class="form5 cid-uooCk7l0Fj" id="CONTACTFORM">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong></strong></h3>
                    <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4 display-7">
		
                    </h4>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
	<form name="submit-to-google-sheet">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-12 form-group mb-3" data-for="type">

			  <select required name="type" id="type" data-form-field="type" class="form-control">
    <option value="">--- Please Select Your Query Type ---</option>
    <option value="newsletter">Signup to Newsletter</option>
    <option value="testimonial">Leave a Testimonial</option>
    <option value="booking">Booking Query</option>
    <option value="feedback">Feedback</option>
    <option value="other">Other Query</option>
  </select>
			</div>
			</div>

                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            <input required type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-CONTACTFORM">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                            <input required type="email" name="email" placeholder="E-mail" data-form-field="email" class="form-control" value="" id="email-CONTACTFORM">
                        </div>
                        <div class="col-12 form-group mb-3" data-for="phone">
                            <input type="tel" name="phone" placeholder="Phone" data-form-field="phone" class="form-control" value="" id="phone-CONTACTFORM">
                        </div>
                        <div class="col-12 form-group mb-3" data-for="textarea">
                            <textarea name="textarea" placeholder="Message" data-form-field="textarea" class="form-control" id="textarea-CONTACTFORM"></textarea>
                        </div>
 <div class="col-md col-sm-12 form-group mb-3" data-for="timescale">
<select required name="timescale" id="timescale" data-form-field="timescale" class="form-control">
    <option value="">--- How urgently would you like us to respond? ---</option>
    <option value="asap">ASAP</option>
    <option value="other">3 - 5 Business Days</option>
  </select>

                        </div>
			<div class="popup" onclick="myFunction()">
        <span class="popuptext" id="myPopup"></span>
</div>

                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"><button type="submit" class="btn btn-success-outline display-7" onclick="myFunction()">Send message</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</section>


<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbzN6nydskTxLvmEXW2QE9P6BNhmSPKwVR2T7Bk4KcNHB4exuLERN0XUMk3Gm1hI5COa/exec'
  const form = document.forms['submit-to-google-sheet']

  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response => /*console.log('Success!', response)*/ redirectAfterSubmit() )
      .catch(error => console.error('Error!', error.message))
  })

  function redirectAfterSubmit() {
	window.location("/");
	  }

function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}

</script>

<section data-bs-version="5.1" class="social05 cid-uooGqLeB0m" id="SOCIAL">
    <div class="container">
        <div class="row">
            
            <div class="col-12">
                <div class="social-row">
			
                    <div class="soc-item">
			    <a href="https://www.tiktok.com/@deanna_jade_as_dolly" target="_blank">
				    <span class="mbr-iconfont socicon-tiktok socicon"></span>
                        </a>
                    </div>
		    
                    <div class="soc-item">
			    <a href="https://www.instagram.com/deanna.jade_as_dolly/" target="_blank">
				    <span class="mbr-iconfont socicon-instagram socicon"></span>
                        </a>
                    </div>
		    
                    <div class="soc-item">
			    <a href="https://www.facebook.com/profile.php?id=100080166661227" target="_blank">
				    <span class="mbr-iconfont socicon socicon-facebook"></span>
                        </a>
                    </div>
		    
                </div>
            </div>
        </div>
    </div>
</section>

