
<section data-bs-version="5.1" class="header2 cid-uootnI2ssB" id="NEWSLETTER">
  
  <div class="container">
    <div class="row content-wrapper justify-content-center">
      <div class="col-lg-8 mbr-form">
        <div class="">
          
        </div>

        <div class="text-wrapper align-left" data-form-type="formoid">
<form name="submit-to-google-sheet">


            <div class="row">
              <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
              <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                Oops...! some problem!
              </div>
            </div>
            <div class="dragArea row">
              <div data-for="email" class="col-lg-6 col-md-6 col-sm-12 form-group">
                <input type="email" name="email" placeholder="test@email.com" data-form-field="email" class="form-control display-7" value="" id="email-NEWSLETTER">
              </div>
              <div class="col-auto mbr-section-btn"><button type="submit" class="w-100 w-100 w-100 w-100 w-100 w-100 btn btn-secondary display-7">Submit</button></div>
	        <button type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbyC79W_lFTsRXGzMLygKW5tpFXZ3MN6gi8CZP_Z0K9GNTV5V1EXk8IkC7MtJ9PKZfHz/exec'
  const form = document.forms['submit-to-google-sheet']

  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response => console.log('Success!', response))
      .catch(error => console.error('Error!', error.message))
  })
</script>
~
~
