<section data-bs-version="5.1" class="menu menu6 cid-uoopozAD9r" once="menu" id="menu06-r">
	

	<nav class="navbar navbar-dropdown opacityScroll navbar-fixed-top navbar-expand-lg">
		<div class="container">
			<div class="navbar-brand">
				<span class="navbar-logo">
					
					<img src="{{page_data['image']}}" alt="" style="height: 4.2rem;">
					
				</span>
				<span class="navbar-caption-wrap"><a class="navbar-caption text-success display-4" href="/">{{ page_data['title']}}</a></span>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse opacityScroll" id="navbarSupportedContent">
				<ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
					{% for item in data %}
					<li class="nav-item"><a class="nav-link link text-success display-4" href="{{ item['link']}}">{{ item['name'] }}</a></li>

					{% endfor %}
				</ul>
				
				
			</div>
		</div>
	</nav>
</section>
