
<section data-bs-version="5.1" class="social05 cid-uooGqLeB0m" id="SOCIAL">
    <div class="container">
        <div class="row">
            
            <div class="col-12">
                <div class="social-row">
			{% for site in data %}
                    <div class="soc-item">
			    <a href="{{ site[2]}}" target="_blank">
				    <span class="{{ site[1] }}"></span>
                        </a>
                    </div>
		    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


